@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  font-family: 'Great Vibes', cursive;
  line-height: 1.8;
}

    

h1,h2,h3,h4,h5,h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #20212c;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(40, 114, 13, 0.7), rgba(33, 238, 149, 0.7));
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 22px;
    transition: all 0.3s ease;
}

.btn-main {
    background: linear-gradient(to right,#8aed43, #0e9e58);
    border-radius: 100px;
    border: none;
    font-weight: 700;
    color: #fff;
}
.btn:hover {
    color: #fff;
    transform: translateY(-5px);
}

.navbar {
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    margin: 16px auto;
}
/* Szolgáltatások Dropdown stílusok */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    color: #1107fe;
    top: 0;
    left: 100%;
    margin-top: -5px;
}
.navbar .dropdown-menu {
    z-index: 1050; /* Higher than the overlay and section */
}


/* Megjelenítés hover esetén asztali nézetben */
@media (min-width: 992px) {
    .navbar .dropdown-menu .dropdown-submenu:hover>.dropdown-menu {
        display: block;
        z-index: 0;
        visibility: visible;
        border-radius: 0;
    }
}

.service .service-img {
    position: relative;
}
footer {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #fff;
}

footer a {
    color: #fff;
}

.mb-0 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}




